---
import "./Intro.scss";
import BgLayerTop from "@/assets/intro-images/background-layer-top.png";
---

<section class="intro">
  <nav class="intro__nav-panel">
    <a>General Info</a>
    <a>Skills</a>
    <a>About</a>
    <a>Experiense</a>
    <a>Projects</a>
  </nav>
  <img
    class="intro__bg-layer intro__bg-layer--top"
    src={BgLayerTop.src}
    draggable="false"
  />
</section>
