@use './variables.scss';

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BASE HTML */
html,
body {
  height: 100%;
  width: 100%;

  scroll-behavior: smooth;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: $font-base;
  font-size: $font-size-base;
  background-color: $color-bg;
  color: $color-text;
}

#page-content {
  //display: none;
  overflow: hidden;
}

html,
body {

  @media (min-width: $breakpoint-xl) {
    font-size: 16px;
  }

  @media (max-width: $breakpoint-xl) and (min-width: $breakpoint-lg) {
    font-size: 16px;
  }

  @media (max-width: $breakpoint-lg) and (min-width: $breakpoint-md) {
    font-size: 15px;
  }

  @media (max-width: $breakpoint-md) {
    font-size: 14px;
  }
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
p {
  font-family: $font-tenor;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

/* IMAGES & MEDIA */
img,
video,
canvas,
svg {
  display: block;
  width: 100%;
  height: auto;
}

/* FORM ELEMENTS */
input,
textarea,
button,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

/* LINKS */
a {
  color: inherit;
  text-decoration: none;
}

/* LIST ITEMS */
ul,
li {
  list-style: none;
}

/* UTILITY */
.hidden {
  display: none !important;
}

.invert-image img {
  filter: invert(1);
}

section {
  height: 100vh;
}