$button-font-size: 1.25rem;
$button-border-radius: $border-radius;

$button-color: $color-accent-text;
$button-bg-color: $color-accent;
$button-bg-color-hovered: $color-accent-hover;

.main-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    position: relative;
    padding: 10px 15px;

    background-color: $button-bg-color;
    color: $button-color;
    text-align: center;
    border-radius: $button-border-radius;

    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;

    &:not(:disabled):hover {
        background-color: $button-bg-color-hovered;
        color: $button-color;
    }

    &--s {
        max-width: fit-content;
    }

    &--m {
        max-width: 300px;
    }

    &--l {
        width: 100%;
    }

    &.outlined {
        border: 1px solid $button-bg-color;
        background-color: transparent;
        color: $color-accent;

        &:hover {
            background-color: $button-bg-color;
        }
    }

    &.icon-btn {
        min-width: unset;
        width: fit-content;
        display: inline-block;
    }

    &.disabled {
        background-color: $color-muted;
        cursor: not-allowed;
    }

    &__text {
        display: inline-flex;
        
        font-size: $button-font-size;
        text-shadow: $shadow-low;
        gap: 5px;

        user-select: none;

        line-height: 1.3;

        svg {
            width: 1.3em;
            height: 1.3em;
            color: inherit;
        }
    }

    @media (max-width: $breakpoint-md) {
        &__text {
            font-size: $button-font-size * 0.8;
        }
    }
}