@use "sass:color";

// Базовые цвета
$skeleton-base-color: $color-accent;
$skeleton-radius: calc($border-radius * 1.5);
$skeleton-animation: pulse-gradient 5s infinite linear;
$skeleton-box-shadow: $shadow-medium;
$skeleton-gap: 1rem;
$skeleton-padding: $component-padding;
$skeleton-opacity: 0.8;

.skeleton {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: $skeleton-gap;
  padding: $skeleton-padding;
  border-radius: $skeleton-radius;
  animation: $skeleton-animation;
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg,
      color.adjust($skeleton-base-color, $lightness: 25%) 25%,
      $skeleton-base-color 50%,
      color.adjust($skeleton-base-color, $lightness: 25%) 75%);
  background-size: 400% 100%;
  min-height: 100px;
  box-shadow: $skeleton-box-shadow;
  opacity: $skeleton-opacity;

  &--block {
    min-height: 100px;
  }

  &--title {
    min-height: 2rem;
    width: 60%;
    margin: 0 auto;
  }

  &--text {
    min-height: 1rem;
    width: 80%;
    margin: 0 auto;
  }
}

// Анимация переливающегося фона
@keyframes pulse-gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}