---
import BasePageLayout from '@/layouts/BasePageLayout.astro';
import About from '@/sections/landing/about/About.astro';
import Hero from '@/sections/landing/hero/Hero.astro';
import Intro from '@/sections/landing/Intro/Intro.astro';

---

<BasePageLayout title="Главная" description="Главная страница сайта" keywords="Ключевые слова">
	<Hero/>
	<Intro/>
	<About/>
	<section>

	</section>
	<section>
		
	</section>
</BasePageLayout>
