// Настройка Header Для проектов
// Цвета шапки
$header-bg: linear-gradient(to right, $color-accent 0%, $color-accent-gradient 50%, $color-accent 100%);
$header-logo-text: $color-bg;
$header-link: $color-accent-text;
$header-text-hover: $color-bg;

// Отрисовка шапки
$header-height: 60px;
$header-padding-x: var(--section-padding);
$header-radius: $border-radius;
$header-font-weight: 400;
$header-text-size: 1.25rem;
$burger-font-size: 1rem;

// С какой стороны бургер меню появляется
$justify-burger-menu: flex-end;

// Цвета бургер меню
$burger-bg: $color-bg;
$burger-hover-text: $color-border;
$burger-hover-bg: $color-accent-text;
$burger-text: $color-text;
$burger-text-soft: $color-border;
$burger-text-hover: $color-accent;
$burger-overlay: rgba(0, 0, 0, 0.4);

// Отрисовка бургер меню
$burger-padding-x: 5vw;
$burger-padding-y: 10vh;
$burger-gap: 2rem;
$burger-title-size: calc(1.5 * (1vw + 1vh));
$burger-item-font-size: 1.5rem;

// Header
.header {
    @include flexbox(row, space-between, center);
    position: sticky;
    top: 0;
    width: 100%;
    height: $header-height;
    background: $header-bg;
    padding: $header-padding-x;
    z-index: 10;

    text-wrap: nowrap;

    &__logo {
        @include flexbox(row);
        gap: min(2.5vw, 1rem);
        justify-content: flex-start;
        width: auto;
        
        cursor: pointer;

        img {
            width: 2.25rem;
            height: 2.25rem;
            object-fit: cover;

            //filter: invert(1); //сделать пропсом или вынести, но должно остаться
        }

        &.text {
            font-size: $header-text-size;
            color: $header-logo-text;
        }
    }

    &__nav-list {
        @include flexbox(row, flex-start);
        gap: calc(min(1.5vw, 1rem));
        padding: 0 min(2rem, 2.5vw);
        width: 100%;

        .link {
            color: $header-link;
            font-size: $header-text-size;
            width: auto;

            will-change: filter;
            @include transition(color, $transition-slow);

            &:hover {
                filter: brightness(1.5); //поменять на глобальную переменную для :hover текста
            }
        }
    }

    &__burger {
        @include flexbox(row);
        gap: 10px;
        background-color: $burger-bg; // Важно
        border-radius: $header-radius;
        width: auto;
        padding: 0.33rem 0.75rem;

        cursor: pointer;
        
        &:hover {
            color: $burger-hover-text;
            background-color: $burger-hover-bg;
        }

        .icon {
            background-color: transparent;
        }
    }
}

// Burger menu
.burger-menu-wrapper { //Переписать на БЭМ
    @include flexbox(row, $justify-burger-menu);
    position: fixed;
    inset: 0;
    background-color: $burger-overlay;
    backdrop-filter: blur(3px);
}

.burger-menu {
    position: relative;
    width: 33vw;
    min-width: 360px;
    height: 100%;
    background-color: $burger-bg;
    padding: $burger-padding-y 0;

    &__close {
        position: absolute;
        top: 1rem;
        left: 1.5rem;
        background: none;
        border: none;
        font-size: 2rem;
        color: $burger-text-soft;
        cursor: pointer;
    }

    &__nav {
        @include flexbox(column, flex-start);
    }

    &__title {
        color: $burger-text-soft;
        font-size: $burger-title-size;
        margin-bottom: 5rem;
    }

    &__list {
        @include flexbox(column);
        gap: 2rem;
    }

    &__item {
        a {
            font-size: $burger-item-font-size;
            color: $burger-text-soft;
        }

        &:hover {
            color: $burger-text-hover;
        }
    }
}

@media (max-width: $breakpoint-md) {
    .header {
        &__nav-list {
            display: none;
        }

        &__burger {
            max-width: 200px;
            padding: 0.33rem 0.5rem;
        }
    }

    .burger-menu {
        width: 100%;
    }
}

@media (max-width: $breakpoint-sm) {
    .header {
        &__logo {
            gap: 5px;

            &.text {
                font-size: $header-text-size * 0.8;
            }
        }

        &__burger span {
            display: none;
        }
    }
}