.main-button__loader {
    display: flex;
    width: 1.3em;
    height: 1.3em;
    border: 2px solid transparent;
    border-top-color: $color-text;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
    vertical-align: middle;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  